Flask==3.1.2
SQLAlchemy==2.0.45
psycopg2-binary==2.9.11
APScheduler==3.11.2
requests==2.32.5
python-dotenv==1.2.1
pyotp==2.9.0
dnspython==2.8.0
python-dateutil==2.9.0.post0
tldextract==5.1.2
packaging==25.0
colorama==0.4.6
gunicorn==23.0.0